@charset "UTF-8";
/*Обнуляющие стили*/
/*Очистим все отступы и границы*/
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*Убираем линии обводки некоторых браузеров*/
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/*задаем блочными теги Html5*/
nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: "Lato", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 30px;
  font-size: 20px;
  color: #1e1744;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*задаем наследование шрифтов*/
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  background: #131212;
  overflow: hidden;
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(757px, auto) 1fr minmax(107px, auto);
  -ms-grid-columns: 1fr;
      grid-template: minmax(757px, auto) 1fr minmax(107px, auto)/1fr;
}

.header {
  background-color: #0000000F;
  -webkit-backdrop-filter: blur(60px);
          backdrop-filter: blur(60px);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr minmax(auto, 670px) minmax(auto, 570px) 1fr;
      grid-template: 1fr/1fr minmax(auto, 670px) minmax(auto, 570px) 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.header__logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33px auto;
      grid-template-columns: 33px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Manrope", sans-serif;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 20px;
}

nav {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  justify-items: end;
}

nav a {
  font-family: "Manrope", sans-serif;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
}

.firstpage {
  background: url(../img/bg.png) center/cover no-repeat;
  margin-bottom: 80px;
}

.firstpage__content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr minmax(auto, 659px) minmax(auto, 581px) 1fr;
      grid-template: 1fr/1fr minmax(auto, 659px) minmax(auto, 581px) 1fr;
}

.firstpage__content :first-child {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.firstpage__photo {
  margin-left: 25px;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.text__text-title {
  font-family: "Manrope", sans-serif;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 64px;
  line-height: 70px;
  letter-spacing: -0.7px;
  margin-bottom: 25px;
}

.text__text-content {
  font-family: "Manrope", sans-serif;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.7px;
  margin-bottom: 45px;
}

.text__button {
  background-color: rgba(255, 255, 255, 0.36);
  border: none;
  border-radius: 4px;
  padding: 19px 110px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  max-width: 410px;
  font-family: "Manrope", sans-serif;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text__button:hover {
  background-color: rgba(255, 255, 255, 0.524);
}

.text__button img {
  margin-right: 15px;
}
/*# sourceMappingURL=Style.css.map */